.articleCard {
    width: 300px;
    height: 600px;
    background: #333333;

}

.articleCard .productImage {
    width: 256px;
    height: 256px;
    margin-top: 15px;

}


.articleCard h1 {
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    color: white;
}

.articleCard {
    text-align: center;
}




.MessageBox {
    color: white;
}

.productItem {
    color: white;
}

.buyButton {
    color: rgb(255, 255, 255);
    width: 300px;
    height: 80px;

}

.modify-button {
    display: flex;
    justify-content: space-around;
}

.modButton {
    text-align: center;

}

.deleteButton {
    text-align: center;

}

.buttonDouble {
    margin-top: 10px;

}



.addButton,
.subButton {
    text-align: right;
    margin-right: 10px;
}