.buyButton {
    color: rgb(255, 255, 255);
    width: 300px;
    height: 50px;

}

.productCard {
    justify-content: space-between;

}


.payementCheckout {
    color: aliceblue;
}

.placeOrder {
    color: rgb(0, 0, 0);
}

.MessageBox {
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 0;
    height: 50px;
}

.createProduct {
    height: 100%;
    width: 100%;
}