/* navbar */
header {
    background-color: #113c4b;

}

.nav-container a {
    color: rgb(233, 233, 233);


}

.welcomeCart {
    margin-bottom: 70px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
}

.container.a.connectNav {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-container .container-fluid {
    width: 500px;
}

.nav-container {

    color: rgb(255, 255, 255);

}

.connectNav {
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;

}

.connectNav span {
    font-size: 20px;
    margin-right: 15px;
}

.item {
    padding-left: 25px;
}

header a {
    color: rgb(230, 230, 230);
    text-decoration: none;
}



.Helmet {
    color: aliceblue;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;

}

.Helmet h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.Helmet hr {
    text-align: center;
    width: 35%;
    height: 20px;

}

.nav-container {
    padding-left: 50px;
    padding-top: 10px;
    display: flex;

}


.brand-heading a {
    color: #fff;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 32px;

}

.collapseNavHead {
    padding-right: 25px;
    color: #fff;
}

.collapseNavHead a {
    text-decoration: none;
}

.helmetHeader {
    background: #266378;
    width: 75%;
    border-radius: 30px;
    font-size: 25px;
}

.helmetHeader .navbar-brand {
    font-size: 25px;
    padding-left: 25px;
}

.helmetHeader i {
    padding-left: 20px;
    color: #FBB32C;
}