.imagePromotion img {
    height: 512px;
    width: 512px;
}

.promotionText {
    color: white;
    font-size: 35px;

}

.promotionText h3 {
    font-size: 60px;
}

.promotionCartContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}


.promotionCartContainer .vl {
    height: 300px;
    margin-top: 5px;
    border-left: 1px solid rgb(255, 255, 255);
}



.promotionCart hr {
    border-top: 3px solid rgb(255, 255, 255);
    width: 500px;
    text-align: center;
}

.promotionCart {
    padding-bottom: 50px;
}

.promotionText hr {
    padding-top: 0px;
    width: 300px;
}