.SeviceContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    color: aliceblue;

}

.SeviceContainer img {

    height: 512px;
    width: 512px;
}