.login,
.signup {
    display: flex;
    align-items: center;
    justify-items: start;
    justify-content: center;

    color: rgb(255, 255, 255);
    margin-top: 50px;
}

.login-form,
.signup-form {
    background-color: rgb(255, 255, 255);
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    color: black;
    border-radius: 1%;
    font-size: 20px;
}

.login-form h3,
.signup-form h3 {
    font-size: 30px;
    margin-bottom: 15px;
}



.login-form input,
.signup-form input {
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.create {
    color: aliceblue;
}

.formShipping {
    color: aliceblue;
}


.dropzone {
    height: 256px;
    width: 256px;
    margin: 1rem;
    padding: 1rem;
    border: 2px dashed rgb(245, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.active {
    border: 2px solid rgb(180, 68, 68);
}